#main {
    width: 400px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#title {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.payBox {
    border: 1px solid;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 90px;
}
.imgs {
    object-fit: fill;
    width: 100px;
}
#can {
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #133E87;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
#pay{
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CBDCEB;
    color: #133E87;
    font-size: 20px;
    font-weight: bold;
}
#phone{
    display: flex;
    height: 25px;
    margin-right: 10px;
}
#bank{
    display: flex;
    height: 25px;
    margin-right: 10px; 
}
